<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>AddCourseController</servlet-name>
        <servlet-class>controllers.AddCourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCourseController</servlet-name>
        <url-pattern>/AddCourseController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddFacultyController</servlet-name>
        <servlet-class>controllers.AddFacultyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFacultyController</servlet-name>
        <url-pattern>/AddFacultyController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddScheduleController</servlet-name>
        <servlet-class>controllers.AddScheduleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddScheduleController</servlet-name>
        <url-pattern>/AddScheduleController</url-pattern>
    </servlet-mapping>

</web-app>
